#divAll{
    padding: 3%;
    background-color: white;
    width: 30%;
    height: 50%;
    margin-left: 30%;
    margin-top:5%;
}


#title{
    margin-left: 42%;
    font-size: 150%;
    color:brown
}