<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cy.tpes.mapper.sysmgr.ParameterMapper">



	<select id="findByCondition" resultType="map" parameterType="map">
		select * from parameter
		<where>
			<if test="paraname != null">
				and paraname  like  "%"#{paraname}"%"
			</if>
		</where>
	</select>

	<select id="findCountByCondition" resultType="int" parameterType="map">
		select count(*) from parameter
		<where>
			<if test="paraname != null">
				and paraname  like  "%"#{paraname}"%"
			</if>
		</where>
	</select>

	<update id="editByCondition" parameterType="map">
		update parameter set
		<foreach collection="_parameter" item="val"  index="key" separator=",">
			${key} = #{val}
		</foreach>
		where paraid = #{paraid}
	</update>

	<insert id="add" parameterType="map">

		insert into parameter
		<foreach collection="_parameter" item="val" index="key" open="(" close=")" separator=",">
			${key}
		</foreach>
		value
		<foreach collection="_parameter" item="val" index="key" open="(" close=")" separator=",">
			#{val}
		</foreach>

	</insert>

	<delete id="del" parameterType="map">
		delete from parameter
		<where>
			and paraid in
			<foreach collection="delList" item="val" index="key" open="(" close=")" separator=",">
				#{val}
			</foreach>
		</where>
	</delete>

</mapper>
	