<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cy.tpes.mapper.sysmgr.WorkerMapper">


	<select id="findByCondition" resultType="map" parameterType="map">
		select * from worker
		<where>
			<if test="wname != null">
				and wname like #{wname}
			</if>
			<if test="waccount != null">
				and waccount like #{waccount}
			</if>
		</where>
	</select>

	<select id="findCountByCondition" resultType="int" parameterType="map">
		select count(*) from worker
		<where>
			<if test="wname != null">
				and wname like #{wname}
			</if>
			<if test="waccount != null">
				and waccount = #{waccount}
			</if>
		</where>
	</select>

	<update id="editByCondition" parameterType="map">
		update worker set
		<foreach collection="_parameter" item="val"  index="key" separator=",">
			${key} = #{val}
		</foreach>
		where wid = #{wid}
	</update>

	<insert id="add" parameterType="map">
		<selectKey keyProperty="wid" resultType="int" order="AFTER">
			select last_insert_id();
		</selectKey>

		insert into worker
		<foreach collection="_parameter" item="val" index="key" open="(" close=")" separator=",">
			${key}
		</foreach>
		value
		<foreach collection="_parameter" item="val" index="key" open="(" close=")" separator=",">
			#{val}
		</foreach>

	</insert>
</mapper>
	