<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.cy.tpes.mapper.hwxmapper.HwxLogMapper">


<insert id="addLog" >
    insert  into log(wid,ltype,lmessage,lstate) values (#{wid},#{ltype},#{lmessage},#{lstate})
	</insert>

<!--    <insert id="addLog2" >-->
<!--    insert  into log(lid) values (1)-->
<!--	</insert>-->


</mapper>
